* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 60px;
}

.navbar-left img {
  width: 233px;
  height: 30px;
}

.navbar-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 60px;
}

.navbar-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  gap: 30px;
  margin: 0;
}

.navbar-list a {
  text-decoration: none;
  color: black;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

.navbar-list li > a::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: black;
  bottom: 0;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  width: 0%;
}

.navbar-list li > a:hover::before {
  width: 100%;
}

.search-carts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 40px 60px;
  gap: 50px;
}

.search-bar {
  color: white;
}

.search-bar i {
  color: black;
}

.search-bar i:hover {
  color: red;
}

.flower-count {
  visibility: hidden;
}

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 13px;
  text-decoration: none;
}

.cart i {
  font-size: 24px;
  color: #3a3838;
}

.cart p {
  font-size: 12px;
  margin: 0;
  color: black;
  font-family: Montserrat, sans-serif;
}

.cart span {
  background-color: tomato;
  color: white;
  border-radius: 15px;
  font-size: 12px;
  padding: 2px 7px;
}

.padding {
  padding-bottom: 46px;
  padding-top: 46px;
  z-index: 2;
}

.home-dropdown, .pages-dropdown, .shop-dropdown, .portfolio-dropdown, .blog-dropdown, .elements-dropdown {
  position: relative;
  display: inline-block;
}

.home-dropdown-content, .pages-dropdown-content, .portfolio-dropdown-content, .blog-dropdown-content, .elements-dropdown-content {
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  z-index: -1;
  position: absolute;
  background-color: white;
  width: 0px;
  min-width: 180px;
  margin-left: -20px;
  top: 67px;
  background-color: white;
  z-index: 2;
  -webkit-transition: all 0.5s , visibility 0s  , z-index 0s;
  transition: all 0.5s , visibility 0s  , z-index 0s;
}

.home-dropdown-content a, .pages-dropdown-content a, .portfolio-dropdown-content a, .blog-dropdown-content a, .elements-dropdown-content a {
  display: block;
  padding: 11px 17px;
  font-size: 14px;
}

.home-dropdown-content span, .pages-dropdown-content span, .portfolio-dropdown-content span, .blog-dropdown-content span, .elements-dropdown-content span {
  display: block;
  padding: 10px 20px;
}

.home-dropdown-content a::before, .pages-dropdown-content a::before, .portfolio-dropdown-content a::before, .blog-dropdown-content a::before, .elements-dropdown-content a::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: black;
  margin-top: 20px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
  width: 0%;
}

.home-dropdown-content a:hover::before, .pages-dropdown-content a:hover::before, .portfolio-dropdown-content a:hover::before, .blog-dropdown-content a:hover::before, .elements-dropdown-content a:hover::before {
  width: 70%;
}

.shop-dropdown-content {
  position: absolute;
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  z-index: -1;
  background-color: white;
  width: 1260px;
  top: 67px;
  left: -550px;
  z-index: 2;
  -webkit-transition: all 0.5s , visibility 0s  , z-index 0s;
  transition: all 0.5s , visibility 0s  , z-index 0s;
}

.shop-dropdown-content a {
  display: block;
  padding: 10px 50px;
  font-size: 14px;
}

.shop-dropdown-content a:last-child {
  margin-bottom: 50px;
}

.shop-dropdown-content span {
  display: block;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 18px;
  padding: 10px 50px;
  margin-top: 50px;
}

.shop-dropdown-content a {
  position: relative;
}

.shop-dropdown-content a::before {
  content: "";
  position: absolute;
  height: 1px;
  background-color: black;
  margin-top: 20px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
  width: 0%;
}

.shop-dropdown-content a:hover {
  display: inline-block;
}

.shop-dropdown-content a:hover::before {
  width: 60%;
}

.portfolio-layouts-dropdown, .portfolio-single-dropdown, .blog-post-dropdown, .classic-dropdown, .infographic-dropdown, .interactive-dropdown, .typhography-dropdown {
  display: block;
  position: relative;
}

.portfolio-layouts-dropdown-content, .portfolio-single-dropdown-content, .blog-post-dropdown-content, .classic-dropdown-content, .infographic-dropdown-content, .interactive-dropdown-content, .typhography-dropdown-content {
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  z-index: 1;
  -webkit-transition: all 0.5s , visibility 0s  , z-index 0s;
  transition: all 0.5s , visibility 0s  , z-index 0s;
  position: absolute;
  background-color: white;
  min-width: 180px;
  margin-left: 170px;
  top: 0;
}

.portfolio-layouts-dropdown-content a, .portfolio-single-dropdown-content a, .blog-post-dropdown-content a, .classic-dropdown-content a, .infographic-dropdown-content a, .interactive-dropdown-content a, .typhography-dropdown-content a {
  display: block;
  padding: 10px 26px;
  font-size: 14px;
}

.portfolio-layouts-dropdown > a {
  padding-right: 29px;
}

.portfolio-single-dropdown > a {
  padding-right: 40px;
}

.blog-post-dropdown > a {
  padding-right: 61px;
}

.classic-dropdown > a {
  padding-right: 85px;
}

.infographic-dropdown > a {
  padding-right: 73px;
}

.interactive-dropdown > a {
  padding-right: 66px;
}

.typhography-dropdown > a {
  padding-right: 57px;
}

.home-dropdown:focus .home-dropdown-content, .home-dropdown:focus-within .home-dropdown-content, .home-dropdown:hover .home-dropdown-content {
  visibility: visible;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.pages-dropdown:focus .pages-dropdown-content, .pages-dropdown:focus-within .pages-dropdown-content, .pages-dropdown:hover .pages-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.shop-dropdown:focus .shop-dropdown-content, .shop-dropdown:focus-within .shop-dropdown-content, .shop-dropdown:hover .shop-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.portfolio-dropdown:focus .portfolio-dropdown-content, .portfolio-dropdown:focus-within .portfolio-dropdown-content, .portfolio-dropdown:hover .portfolio-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.portfolio-layouts-dropdown:focus .portfolio-layouts-dropdown-content, .portfolio-layouts-dropdown:focus-within .portfolio-layouts-dropdown-content, .portfolio-layouts-dropdown:hover .portfolio-layouts-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.portfolio-single-dropdown:focus .portfolio-single-dropdown-content, .portfolio-single-dropdown:focus-within .portfolio-single-dropdown-content, .portfolio-single-dropdown:hover .portfolio-single-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.blog-dropdown:focus .blog-dropdown-content, .blog-dropdown:focus-within .blog-dropdown-content, .blog-dropdown:hover .blog-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.blog-post-dropdown:focus .blog-post-dropdown-content, .blog-post-dropdown:focus-within .blog-post-dropdown-content, .blog-post-dropdown:hover .blog-post-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.elements-dropdown:focus .elements-dropdown-content, .elements-dropdown:focus-within .elements-dropdown-content, .elements-dropdown:hover .elements-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.classic-dropdown:focus .classic-dropdown-content, .classic-dropdown:focus-within .classic-dropdown-content, .classic-dropdown:hover .classic-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.infographic-dropdown:focus .infographic-dropdown-content, .infographic-dropdown:focus-within .infographic-dropdown-content, .infographic-dropdown:hover .infographic-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.interactive-dropdown:focus .interactive-dropdown-content, .interactive-dropdown:focus-within .interactive-dropdown-content, .interactive-dropdown:hover .interactive-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.typhography-dropdown:focus .typhography-dropdown-content, .typhography-dropdown:focus-within .typhography-dropdown-content, .typhography-dropdown:hover .typhography-dropdown-content {
  visibility: visible;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(100%);
          transform: scaleY(100%);
  opacity: 1;
  z-index: 1;
  zoom: 100%;
  -webkit-transition-delay: 0s, 0s, 0.1s;
          transition-delay: 0s, 0s, 0.1s;
}

.search-box {
  visibility: hidden;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: scaleY(0%);
          transform: scaleY(0%);
  z-index: 1;
  -webkit-transition: all 0.5s , visibility 0s  , z-index 0s;
  transition: all 0.5s , visibility 0s  , z-index 0s;
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  margin-left: -230px;
  margin-top: 150px;
  border: 1px solid white;
  background-color: white;
  z-index: 1;
}

.search-box i {
  color: grey;
  padding: 15px;
}

.search-box i:hover {
  color: black;
}

.search-box input {
  padding: 7px;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-box input:active {
  border: none;
  outline: none;
}

.hamburger {
  display: none;
}

.hamburger div {
  width: 20px;
  height: 4px;
  background-color: black;
  margin: 2px;
}

@media screen and (max-width: 1199px) {
  .hamburger {
    display: block;
  }
  .hamburger-active .hamburger-line2 {
    opacity: 0;
  }
  .hamburger-active .hamburger-line1 {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    width: 25px;
    -webkit-transform: rotate(45deg) translate(9px);
            transform: rotate(45deg) translate(9px);
  }
  .hamburger-active .hamburger-line3 {
    -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
    width: 25px;
    -webkit-transform: rotate(-45deg) translate(9px);
            transform: rotate(-45deg) translate(9px);
  }
  .search-carts {
    display: none;
  }
  .navbar-left {
    padding: 0;
  }
  .navbar-right {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .navbar-right .navbar-list {
    display: none;
  }
  .navbar-right .navbar-list-resp {
    position: absolute;
    display: block;
    z-index: 5;
    -webkit-animation-name: smoothSlide;
            animation-name: smoothSlide;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
    top: 100px;
    background-color: white;
    right: 0;
    width: 30%;
  }
  .navbar-right .navbar-list-resp li {
    display: block;
    margin: 50px 0px;
  }
  .navbar-right .navbar-list-resp li > a {
    font-size: 24px;
    padding: 0;
  }
  .navbar-right .navbar-list-resp a {
    z-index: 5;
  }
  .navbar-right .navbar-list-resp a:hover {
    display: inline-block;
  }
  .navbar-right .navbar-list-resp a:hover::before {
    width: 0% !important;
  }
  .navbar-right .shop-dropdown-content {
    width: 100vw;
    left: -800px !important;
    right: 0;
  }
}

@-webkit-keyframes smoothSlide {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

@keyframes smoothSlide {
  from {
    width: 0%;
  }
  to {
    width: 30%;
  }
}

.carousel-item img {
  -webkit-animation-name: Zoomer;
          animation-name: Zoomer;
  -webkit-animation-duration: 10s;
          animation-duration: 10s;
}

.carousel-item .carousel-caption {
  top: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left !important;
}

.carousel-item .carousel-caption h5 {
  font-size: 56px;
  width: 40%;
}

.carousel-item .carousel-caption h5 span {
  color: red !important;
  margin: 0 5px;
}

.carousel-item .carousel-caption p {
  width: 40%;
  position: relative;
  top: 20px;
  font-size: 18px;
  color: grey;
}

.carousel-item .carousel-caption h2 {
  display: inline-block;
  position: relative;
  top: 40px;
}

@media screen and (max-width: 1443px) {
  .carousel-caption {
    top: 10% !important;
  }
  .carousel-caption h5 {
    font-size: 36px !important;
    width: 40%;
  }
  .carousel-caption h5 span {
    color: red !important;
    margin: 0 5px;
  }
  .carousel-caption p {
    width: 40%;
    position: relative;
    top: 20px;
    font-size: 10px;
    color: grey;
  }
  .carousel-caption h2 {
    display: inline-block;
    position: relative;
    top: 10px;
  }
  .carousel-caption h2 img {
    width: 150px;
    height: 50px;
  }
}

@-webkit-keyframes Zoomer {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
}

@keyframes Zoomer {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.06);
            transform: scale(1.06);
  }
}

@media screen and (max-width: 1199px) {
  .carousel-caption {
    top: 10% !important;
  }
  .carousel-caption h2 {
    display: none !important;
  }
}

@media screen and (max-width: 999px) {
  .carousel-caption {
    top: 10% !important;
  }
  .carousel-caption h5 {
    font-size: 26px !important;
  }
  .carousel-caption h2 {
    display: inline-block !important;
  }
  .carousel-caption p {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .carousel-caption {
    display: inline-block !important;
    top: 5% !important;
  }
  .carousel-caption h5 {
    font-size: 20px !important;
  }
  .carousel-caption h2 {
    display: inline-block !important;
  }
  .carousel-caption p {
    display: none;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: relative;
  margin-top: 50px;
}

.filter-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  padding-left: 0;
  margin: 0;
}

.filter-left li {
  list-style-type: none;
  cursor: pointer;
}

.filter-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 40px;
}

.filter-right a {
  margin-right: 40px;
  color: black;
  text-decoration: none;
  font-family: Montserrat, sans-serif;
  font-size: 16px;
}

.filter-right a:hover {
  color: red;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}

.active {
  color: red;
}

.filter-dropdown {
  display: inline-block;
  position: relative;
}

.filter-dropdown-content {
  position: absolute;
  visibility: hidden;
  z-index: -1;
  background-color: white;
  width: 460px;
  top: 20px;
  right: 0px;
  padding-bottom: 20px;
  z-index: 2;
}

.filter-dropdown-content a {
  display: block;
  padding: 10px 50px;
  font-size: 14px;
  color: grey;
}

.filter-dropdown-content span {
  display: block;
  font-family: sans-serif;
  font-weight: bolder;
  font-size: 18px;
  padding: 10px 50px;
  margin-top: 50px;
}

.filter-dropdown:focus .filter-dropdown-content, .filter-dropdown:focus-within .filter-dropdown-content, .filter-dropdown:hover .filter-dropdown-content {
  visibility: visible;
}

.filter-dropdown-content a:hover {
  color: black;
}

.flower-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner-card {
  font-family: Montserrat, sans-serif;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
  margin-bottom: 20px;
  margin-right: 35px;
  cursor: pointer;
}

.inner-card .card-image {
  overflow: hidden;
}

.inner-card .card-image img {
  width: 295px;
  height: 380.64px;
}

.inner-card .card-image img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.inner-card .card-title {
  margin-top: 10px;
  text-align: center;
}

.inner-card .add-to-card {
  display: inline-block;
  text-align: center;
  overflow: hidden;
}

.inner-card .add-to-card a {
  position: relative;
  color: #bdb8b8;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */