//Font families
$primary-font-family: Montserrat,sans-serif;


//Font sizes
$primary-font-size: 12px;
$secondary-font-size: 24px;
$third-font-size: 18px;
$fourth-font-size: 16px;

//Text colors

$primary-color: black;
$secondary-color: white;
$third-color: grey;