//Font families
$primary-font-family: Montserrat,sans-serif;


//Font sizes
$primary-font-size: 12px;
$secondary-font-size: 24px;
$third-font-size: 18px;

//Text colors

$primary-text-color: black;
$secondary-text-color: white;